/*
Para comentar en VScode selecciono y Ctrl + k + s; tambien alt A shift A
*/
ul{
    background-color:#0D103D;
    list-style:none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    width: 20%;
    
}
/* 
li{
   float: left;
}*/
li a{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 17px;
    text-decoration: none;

}
li a:hover{
    background-color: rgb(143, 135, 189);
}